@import 'src/assets/scss/_variables.scss';

.playlist-item {
  border: 1px solid $light-grey;
  border-radius: 7px;
  background-color:	$light-purple;
  padding: 0px 12px;
  margin: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.current {
    font-weight: 700;
  }
}
