@import 'src/styles/globals/colors.scss';

.playlist {
  display: flex;
  flex-direction: column;
  max-width: 33%;
  height: 100%;
  padding: 20px;
  border: 2px solid lightgrey;
  color: $dark-purple;
}